@use "../base/variables" as vars;

.auth-form-input {
  display: flex;
}

.auth-form-input > input {
  width: 100%;

  font-size: 1.5rem;

  padding: 1rem 2rem;
  border-radius: 3px 0 0 3px;
}

.auth-form-input > div {
  display: grid;
  place-items: center;

  background-color: #fff;
  color: vars.$color__btn;

  padding: 1rem 0;
  padding-right: 1.8rem;

  border-radius: 0 3px 3px 0;
}

.auth-form-input > div > svg {
  font-size: 2rem;
}
