@use "../base/variables" as vars;

.dashboard-player {
  grid-area: player;

  background-color: vars.$color__bg-alt;

  padding-top: 1rem;
  border-radius: vars.$border-radius__mb vars.$border-radius__mb 0 0;
}

.dashboard-player__content {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.dummy-img {
  width: 3rem;
  height: 3rem;

  background-color: gray;

  margin: 0 0.8rem 0 0.8rem;
  border-radius: vars.$border-radius__mb;
}

.dashboard-player__content-info > p {
  color: vars.$color__white;

  font-size: vars.$font__mb-regular;
  font-weight: 600;
}

.dashboard-player__content-info > p:last-of-type {
  color: vars.$color__white-alt;
}

.dashboard-player__content > svg {
  color: vars.$color__white;

  width: 2rem;

  font-size: vars.$font__mb-header;

  margin: 0 0.8rem 0 auto;
}

.dummy-progress-bar {
  background-color: gray;

  height: 0.2rem;
}
