@use "../base/variables" as vars;

.dashboard {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "upper"
    "main"
    "player"
    "lower";

  height: 100vh;

  padding: 2.5rem 2rem;
}

// DashboardExplorer

.dashboard-explorer {
  display: none;

  background-color: green;
}

@media (min-width: 701px) {
  .dashboard {
    padding: 2.5rem 2.5rem;
  }
}

@media (min-width: 961px) {
  .dashboard {
    // display: grid;
    // grid-template-rows: auto 1fr auto;
    // grid-template-columns: auto 1fr;
    // grid-template-areas:
    //   "upper upper "

    // grid-template-columns: 1fr;
    // grid-template-areas:
    //   "upper"
    //   "main"
    //   "player"
    //   "lower";

    padding: 1rem 2.5rem;
  }
}
