@use "../base/variables" as vars;

.home-small-item:hover {
  cursor: pointer;
}

.home-small-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background-color: vars.$color__bg-alt;

  height: 4.8rem;

  border-radius: 0 3px 3px 0;
}

.home-small-item__dummy {
  background-color: gray;

  height: 100%;
  width: 5rem;

  border-radius: 3px 0 0 3px;
}

.home-small-item > p {
  color: vars.$color__white;

  font-size: 1.1rem;
  font-weight: 600;
}
