@use "../base/variables" as vars;

.home-big-item:hover {
  cursor: pointer;
}

.home-big-item__dummy-img {
  background-color: gray;

  width: 11rem;
  height: 11rem;

  border-radius: 3px;
  margin-bottom: 0.4rem;
}

.home-big-item__song-info > p {
  color: vars.$color__white;

  font-size: 1.1rem;
  font-weight: 600;
}

.home-big-item__song-info > p:last-of-type {
  color: vars.$color__white-alt;
}
