@use "../base/variables" as vars;

.home-top-playlists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: vars.$gap__mb;
}

@media (min-width: 701px) {
  .home-top-playlists {
    grid-template-columns: unset;
    grid-auto-columns: 1fr 1fr;
    grid-auto-flow: column;
  }
}
