@use "../base/variables" as vars;

.home-top-songs {
  margin-bottom: 2rem;
}

.home-top-songs > header {
  color: vars.$color__white;

  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 0.8rem;
}

.home-top-songs > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  overflow-x: scroll;
}
