@use "../base/variables" as vars;

.auth {
  display: grid;
  place-items: center;

  height: 100vh;

  padding: 2rem 4rem;
}

.auth > section {
  color: vars.$color--white;

  width: 28rem;
}

.auth > section > header {
  font-size: 4.2rem;
  font-weight: 600;
  text-align: center;
}

.auth--subheader {
  font-size: 1.6rem;
  text-align: center;

  margin-bottom: 3.6rem;
}

.auth--form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 1.6rem;
}

// .auth--form > div > input,
.auth--form > button {
  width: 100%;

  padding: 1rem 2rem;
  border-radius: 3px 0 0 3px;
}

// .auth--form > div {
//   display: flex;
// }

// .auth--form > div > input {
//   font-size: 1.4rem;
// }

// .auth--form-input-err-indicator {
//   display: grid;
//   place-items: center;

//   background-color: #fff;
//   color: vars.$color--btn;

//   padding: 1rem 0;
//   padding-right: 1.8rem;

//   border-radius: 0 3px 3px 0;
// }

// .auth--form-input-err-indicator > svg {
//   font-size: 2rem;
// }

.auth--form > button {
  background-color: vars.$color--highlight;
  color: vars.$color--white;

  font-size: 1.5rem;
  font-weight: 600;
}

.auth--redirect {
  font-size: 1.5rem;
  text-align: center;

  margin-bottom: 3.6rem;
}

.auth--redirect > span {
  color: vars.$color--highlight-alt;
}

.auth--redirect > span:hover {
  cursor: pointer;
}

.auth--test > p {
  font-size: 1.5rem;
  text-align: center;

  margin-bottom: 1.6rem;
}

.auth--test > button {
  background-color: vars.$color--btn;
  color: vars.$color--white;

  width: 100%;

  font-size: 1.5rem;
  font-weight: 600;

  padding: 1rem 2rem;
  border-radius: 3px 0 0 3px;
}

@media (min-width: 530px) {
  .auth > section {
    width: 34rem;
  }
}
