@use "../base/variables" as vars;

.home {
  grid-area: main;

  padding: 1rem 0 1rem 0;

  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.home > section {
  margin-bottom: vars.$margin__mb-unrelated;
}

.home > section:last-of-type {
  margin-bottom: 1rem;
}

.home > section > header {
  color: vars.$color__white;

  font-size: vars.$font__mb-header;
  font-weight: 600;

  margin-bottom: vars.$margin__mb-related;
}

.home > section > div {
  display: flex;
  align-items: center;
  gap: vars.$gap__mb;

  overflow-x: scroll;
  scrollbar-width: none;
}
