@use "../base/variables" as vars;

.search {
  padding: 1rem 0;
}

.search > input {
  width: 100%;
  height: 3.6rem;

  padding: 0 2rem;
  margin-bottom: 1.6rem;
  border-radius: 3px;
}

.search > div > header {
  color: vars.$color__white;

  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}

.search__genres {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 11rem;
  gap: 0.8rem;
}
