@use "../base/variables" as vars;

.search {
  padding: 1rem 0;
}

.search > input {
  width: 100%;
  height: 3.6rem;

  padding: 0 2rem;
  margin-bottom: vars.$margin__mb-unrelated;
  border-radius: vars.$border-radius__mb;
}

.search > div > header {
  color: vars.$color__white;

  font-size: vars.$font__mb-header;
  font-weight: 600;

  margin-bottom: vars.$margin__mb-unrelated;
}

.search__genres {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 11rem;
  gap: vars.$gap__mb;
}
