@use "variables" as vars;

.Toastify__toast {
  background-color: vars.$color__bg-alt;
  border-radius: 3px;
}

.Toastify__toast-body > div:last-child {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
