// ==============================================
// Colors
// ==============================================

$color__bg: #222831;
$color__bg-alt: #31363f;
$color__btn: #35374b;
$color__highlight: #608d8f;
$color__highlight-alt: #8ccacc;

$color__white: #eee;
$color__white-alt: #b9b9b9;

// ==============================================
// Font sizes
// ==============================================
