// ==============================================
// Colors
// ==============================================

$color--bg: #222831;
$color--bg-alt: #31363f;
$color--btn: #35374b;
$color--highlight: #608d8f;
$color--highlight-alt: #8ccacc;

$color--white: #eee;

// ==============================================
// Font sizes
// ==============================================
