// ==============================================
// Colors
// ==============================================

$color__bg: #222831;
$color__bg-alt: #31363f;
$color__bg_popup: rgba(0, 0, 0, 0.15);
$color__btn: #35374b;
$color__highlight: #608d8f;
$color__highlight-alt: #8ccacc;

$color__white: #eee;
$color__white-alt: #b9b9b9;

// ==============================================
// Font sizes
// ==============================================

/* Mobile */

$font__mb-regular: 1.1rem;
$font__mb-subheader: 1.5rem;
$font__mb-header: 2rem;

/* Tablet */

/* Laptop */

// ==============================================
// Misc.
// ==============================================

$margin__mb-related: 0.8rem;
$margin__mb-unrelated: 1.6rem;
$gap__mb: 0.8rem;
$border-radius__mb: 3px;
