// ==============================================
// Colors
// ==============================================

$color--bg: #222831;
$color--primary: #35374b;
$color--secondary: #608d8f;
$color--secondary-alt: #8ccacc;

$color--white: #eeeeee;

// ==============================================
// Font sizes
// ==============================================
